version: "3.7"
services:
  dev_app:
    container_name: slack-botmydesk_app
    build:
      context: .
      target: dev-app
    depends_on:
      - database
    # Assumes you want socket mode + autoreload during development.
    command: poetry run /code/manage.py dev_socket_mode
    # OR use "runserver" (includes autoreload), to simulate webhook hosting (pre-production) @ http://localhost:8000
#    command: poetry run /code/manage.py runserver 0.0.0.0:8000
    volumes:
      - ./src:/code
    ports:
      - '8000:8000'
    env_file:
      - .env
    environment:
      # TODO: Set DEV_EMAIL_ADDRESS if you develop on a different Slack workspace (and DJANGO_DEBUG = True). Omit or keep empty otherwise.
#      - DEV_EMAIL_ADDRESS=
      # Enable if you want to always run with Dutch locales, no matter your own Slack user its preferences.
#      - DEV_LOCALE=nl_NL
      # Enable to refresh all the time. Only makes sense during session development.
#      - DEV_BOOKMYDESK_ACCESS_TOKEN_EXPIRY_MINUTES=0
      - DJANGO_DEBUG=True
      - DJANGO_SECRET_KEY=development
      # TODO: Choose your DB engine. See below for quick options. More engines are available but not recommended. See Django docs for details.
      - DJANGO_DATABASE_ENGINE=django.db.backends.mysql
      - DJANGO_DATABASE_HOST=database
      - DJANGO_DATABASE_PORT=3306
      - DJANGO_DATABASE_USER=devuser
      - DJANGO_DATABASE_PASSWORD=devpasswd
      - DJANGO_DATABASE_NAME=botmydesk
      # https://docs.djangoproject.com/en/4.1/ref/settings/#allowed-hosts
      - DJANGO_ALLOWED_HOST=localhost

# TODO: Choose your DB
### Option 1 ###
#  database:
#    # Use with "app" environment:
#    #    - DJANGO_DATABASE_ENGINE=django.db.backends.mysql
#    #    - DJANGO_DATABASE_HOST=database
#    #    - DJANGO_DATABASE_PORT=3306
#    #    - DJANGO_DATABASE_USER=devuser
#    #    - DJANGO_DATABASE_PASSWORD=devpasswd
#    #    - DJANGO_DATABASE_NAME=botmydesk
#    image: mysql:8
#    restart: always
#    volumes:
#      - ./docker/mysql:/var/lib/mysql/
#    environment:
#     - MYSQL_DATABASE=botmydesk
#     - MYSQL_USER=devuser
#     - MYSQL_PASSWORD=devpasswd
#     - MYSQL_ROOT_PASSWORD=rootpasswd
#    ports:
#      - '3306:3306'

### Option 2 ###
#  database:
#    # Use with "app" environment:
#    #    - DJANGO_DATABASE_ENGINE=django.db.backends.postgresql
#    #    - DJANGO_DATABASE_HOST=database
#    #    - DJANGO_DATABASE_PORT=5432
#    #    - DJANGO_DATABASE_USER=devuser
#    #    - DJANGO_DATABASE_PASSWORD=devpasswd
#    #    - DJANGO_DATABASE_NAME=botmydesk
#    image: postgres:14
#    restart: always
#    volumes:
#      - ./docker/postgres:/var/lib/postgresql/
#    environment:
#      - POSTGRES_DB=botmydesk
#      - POSTGRES_USER=devuser
#      - POSTGRES_PASSWORD=devpasswd
#    ports:
#      - '5432:5432'