version: "3.7"
services:
  app:  # Runs by default on: http://localhost:8000
    build:
      context: .
      dockerfile: Dockerfile
      target: dev-app
    # You can run "poetry run /code/manage.py dev_socket_mode" inside the container during development.
#    command: poetry run /code/manage.py dev_socket_mode
    volumes:
      - ./src:/code
      - ./pyproject.toml:/code/pyproject.toml
      - ./poetry.lock:/code/poetry.lock
    ports:
      - '8000:8000'
    env_file:
      - .env
    environment:
      # TODO: Set DEV_EMAIL_ADDRESS if you dev on a different Slack workspace (and DJANGO_DEBUG = True). Omit otherwise.
      - DEV_EMAIL_ADDRESS=
      - DJANGO_DEBUG=True
      - DJANGO_SECRET_KEY=development
      # https://docs.djangoproject.com/en/4.1/ref/settings/#allowed-hosts
      - DJANGO_ALLOWED_HOST=localhost
      # https://docs.djangoproject.com/en/4.1/ref/databases/
      - DJANGO_DATABASE_ENGINE=django.db.backends.mysql
      - DJANGO_DATABASE_HOST=db
      - DJANGO_DATABASE_PORT=3306
      - DJANGO_DATABASE_USER=devuser
      - DJANGO_DATABASE_PASSWORD=devpasswd
      - DJANGO_DATABASE_NAME=botmydesk

  db:
    image: mysql:8
    restart: always
    environment:
     - MYSQL_DATABASE=botmydesk
     - MYSQL_USER=devuser
     - MYSQL_PASSWORD=devpasswd
     - MYSQL_ROOT_PASSWORD=rootpasswd
