version: "3.7"
services:
  app:  # Runs by default on: http://localhost:8000
    build:
      context: .
      dockerfile: Dockerfile
      target: dev-app
    # You can run "poetry run /code/manage.py dev_socket_mode" inside the container during development.
    volumes:
      - ./src:/code
      - ./pyproject.toml:/code/pyproject.toml
      - ./poetry.lock:/code/poetry.lock
    ports:
      - '8000:8000'
    env_file:
      - .env
    environment:
      - DJANGO_DEBUG=True
      - DJANGO_ALLOWED_HOST=localhost
      - DJANGO_DATABASE_ENGINE=django.db.backends.sqlite3
      - DJANGO_SECRET_KEY=development
